<h1>Drugs:</h1>
<div>
	<% @drugs.each do |drug| %>
		<h3><%= drug.name %></h3>
		<p><%= drug.dosage drug.dosage_unit %></p>
		<% drug.side_effect.each do |se| %>
			<span><%= se.name %></span> 
		<% end %>
	<% end %>
</div>

<div>
	 <a class="btn" href="/drugs/new">Add Drug</a>
	 <a class="btn" href="/user/<%= current_user.id %>">My Drugs</a>
</div>