	<h1>Update <%= @note.topic %></h1>

    <fieldset>
	<legend>Update Note</legend>

	<form action="/notes/<%= @note.id %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
    
	<label>New Topic: </label>
	  <input type="text" name="note[topic]" id="note_topic" value="<%= @note.topic %>"></input>
	  <br>
      
    <label>Notes:</label><br>
      <textarea type="text" name="note[content]"><%= @note.content %></textarea>
      
    <input type="submit" value="Update note"> 
    </form>
    </fieldset>