	<h1>Update <%= @note.topic %></h1>

    <fieldset>
	<legend>Update Note</legend>

	<form action="/notes/<%= @note.id %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
    
	<label>Topic: </label>
	  <input type="text" style="width: 97.5%;" name="note[topic]" id="note_topic" value="<%= @note.topic %>"></input>
	  <br>
      
    <label>Notes:</label><br>
      <textarea type="text" rows="60" name="note[content]"><%= @note.content %></textarea>
      
    <input type="submit" value="Update note"> 
    </form>
	 </fieldset>
	 <br>
	 <details>
		 <summary>Markdown Cheat Sheet</summary>
		 Check out <a href="https://commonmark.org/help/">this cheat sheet</a> to become a Markdown master.
		 <mark>Warning!</mark> Currently, NiceNote does not support <emphasis>all</emphasis> Markdown features.
		 If you receive an error, consider presenting your information in a different way. 
		 We plan to introduce full Markdown features at a later date!
	 </details>