	<h1>Edit Note</h1>

    <fieldset>

	<form action="/notes/<%= @note.id %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
    
	<label>Topic: </label>
	  <input type="text" style="width: 97.5%;" name="note[topic]" id="note_topic" value="<%= @note.topic %>"></input>
      
	  <label><h3>Notes:</h3></label>
	  <textarea type="text" rows="13" name="note[content]"><%= @note.content %></textarea>
	 
	  <label><h3>Privacy:</h3></label>
	  <select id="public" name="note[public]">
		  <% if @note.public == true %>
		 <option value="true" selected>Public</option>
		 <option value="false">Private</option>
		 <% else %>
		 <option value="true">Public</option>
		 <option value="false" selected>Private</option>
		 <% end %>
	  </select>
	  <br>
    <input type="submit" value="Update note"> 
    </form>
	 </fieldset>
	 <br>
	 <details>
		<summary>Markdown Cheat Sheet</summary>
		Check out <a href="https://commonmark.org/help/">this cheat sheet</a> to become a Markdown master.
		<mark>Warning!</mark> Currently, NiceNote does not support <emphasis>all</emphasis> Markdown features.
		Checkboxes, for example, are not yet supported. We plan to introduce full Markdown features at a later date!
	</details>