<h1>All Notes</h1>
<h2> Select the notes for the topic you're interested in below.</h2>
<ul><% @notes.each do |note| %>
<li><a href="/notes/<%= note.id %>"><%= note.topic %></a></li>
</ul><% end %>
<br>
<h3><a href="/notes/new">Create a New note</a></h3>

