<h1>Create a Note</h1>
<fieldset>

	<form method="post" action="/notes" id="new_note">
    
	<label><h3>Note Topic:</h3></label>
	<input type="text" style="width: 97.5%;" name="note[topic]" id="note_topic"></input>
      
    <label><h3>Notes:</h3></label>
    <textarea type="text" rows="13" name="note[content]"></textarea>
	
	 <label><h3>Privacy:</h3></label>
	 <select id="public" name="note[public]">
		<option value="true">Public</option>
		<option value="false">Private</option>
	 </select>
	 <br>
    <input type="submit" form="new_note" value="Create note">
    </form>
	 </fieldset>
	 <br>
	 <details>
		 <summary>Markdown Cheat Sheet</summary>
		 Check out <a href="https://commonmark.org/help/">this cheat sheet</a> to become a Markdown master.
		 <mark>Warning!</mark> Currently, NiceNote does not support <emphasis>all</emphasis> Markdown features.
		 Checkboxes, for example, are not yet supported. We plan to introduce full Markdown features at a later date!
	 </details>