<% if @success_message != nil %>
	<div id="success" style="border: 2px solid green;">
		<h3> Your account has been created successfully! </h3>
<% end %>	
	</div>
    <fieldset>
	<legend>Add a New Note</legend>

	<form method="post" action="/notes" id="new_note">
    
	<label><h3>Note Topic:</h3></label>
	<input type="text" name="note[topic]" id="note_topic"></input>
      
    <label><h3>Notes:</h3></label>
    <textarea type="text" name="note[content]"></textarea>
      
    <input type="submit" form="new_note" value="Create note">

    </form>
    </fieldset>