@media screen {
	/* --- Reset Styles --- */
	* {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
 
	html, body {
	  height: 100%;
	  width: 100%;
	}
 
	/* --- Welcome Page Styles --- */
	body {
	  background-color: #fff;
	  color: #333;
	  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	  line-height: 18px;
	  display: flex;
	  flex-direction: column;
  
	}
 
	.wrapper {
	  background: #fff;
	  /* -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	  box-shadow: 0 0 10px rgba(0,0,0,.3); */
	  margin: 16px auto;
	  max-width: 960px;
	  padding: 2.25%; /* 18px / 800px */
	  width: 85%;
	  flex: 1 0 auto;
	}
 
	h1 {
	  font-size: 36px;
	  line-height: 54px;
	}
 
	h2 {
	  font-size: 24px;
	  line-height: 36px;
	  /* margin-bottom: 16px; */
	}
 
	h3 {
	  font-size: 20px;
	  line-height: 36px;
	}
 
	p {
	  margin-bottom: 10px;
	  margin-top:10px;
	}
 
	.main {
	  overflow: hidden;
	}
 
	.content {
	  float: left;
	  width: 100%; /* 480px / 800px */
	}
 
	.sidebar {
	  background: #eee;
	  border: 1px solid #ccc;
	  float: right;
	  padding: 2.08333333333%; /* 5px / 240px */
	  width: 30%; /* 240px / 800px */
	}
 
	.sidebar ul {
	  font-size: 14px;
	}
 
	.branding {
	  width: 40%;
	  float: left;
	}
 
 
	.menu-nav {
	  width: 60%;
	  float: left;
	  text-align: right;
	}
	.menu-nav li {
	  display: inline-block;
	  padding: 10px;
	}
	.menu-nav a, header a{
	  color: #fff;
	  font-weight: bold;
	  text-decoration: none;
	}
	 
	footer {
		text-align: right;
	  margin-top: 20px;
	  padding: 20px;
	  clear: both;
	  flex-shrink: 0;
	  color: #fff;
	  background-color: rgb(99, 0, 0);
	}
 
	header {
	  padding: 20px;
	  clear: both;
	  flex-shrink: 0;
	  color: #fff;
	  background-color: rgb(99, 0, 0);
	}
 
	a[href$="edit"].btn {
	  background-color: #89BD9E;
	  border-color: #89BD9E;
	}
 
	a[href$="edit"].btn:hover {
	  background-color: #76949F;
	  border-color: #76949F;
	}
 
	.mini-btn {
	  color: #2E4052;
	  border: 1px solid #2E4052;
	  border-radius: 5px;
	  padding: 5px;
	  font-size: 14px;
	  text-decoration: none;
	  transition: background-color .5s, color .5s;
	  max-width: 55px;
	  margin-left: auto;
	  margin-right: 5px;
 }
 
	.mini-btn:hover {
	  background-color: #2E4052;
	  color: #fff;
	}
	.event-list-item .mini-btn {
	  margin-left: 20px;
	}
 
	.event-list-view{
	  border: 1px solid #89BD9E;
	  border-bottom: none;
	  border-radius: 5px;
	  max-width: 75%;
	  min-width:350px;
	}
 
	  .event-list-view div {
		 padding: 10px 20px;
	  }
	  .event-card .card-header{
		 color: #fff;
		 display: flex;
		 flex-direction: column-reverse;
	  }
	  .event-card:nth-child(3n) .card-header{   
		 background: 
		 linear-gradient(
			  0deg,rgba(137, 189, 158, 1) 45px,
			  rgba(137, 189, 158, 0.45) 45px
			),
		 url(../images/balloon.jpg); 
	  }
	  .event-card:nth-child(3n+1) .card-header{   
		 background: 
		 linear-gradient(
			0deg,rgba(137, 189, 158, 1) 45px,
			rgba(137, 189, 158, 0.45) 45px
		 ),
		 url(../images/chevron.jpg); 
	  }
	  .event-card:nth-child(3n+2) .card-header{   
		 background: 
		 linear-gradient(
			0deg,rgba(118, 148, 159, 1) 45px,
			rgba(118, 148, 159, 0.45) 45px
		 ),
		 url(../images/cloud.jpg); 
	  }
 
	.special-header, .full-form.green-option .form-header {
	  background-color: #89BD9E;
	  color: #fff;
	}
	.card-header, .card-content{
	  padding: 5px;
	  height: 140px;
	  display: flex;
	  flex-direction: column;
	}
	.event-card .mini-btn {
	  float:right;
	}
	.event-list-item {
	  border-bottom: 1px solid #89BD9E;
	  padding:5px;
	}
 
	.full-form {
	  border: 4px solid #76949F;
	  border-radius: 5px;
	  max-width: 750px;
	  margin: auto;
	}
 
	.full-form.green-option {
	  border: 4px solid  #89BD9E;
	  border-radius: 4px;
	}
 
	.full-form.green-option .btn {
	  float:right;
	  font-size: 18px;
	  letter-spacing: 1px;
	  padding: 10px 20px;
	  background-color: #89BD9E;
	  border: 1px solid #89BD9E;
	}
 
	.full-form.green-option .btn:hover {
	  background-color: #76949F;
	  border-color: #76949F;
	  transition: background-color .5s, border-color .5s;
	}
	.form-header {
	  background-color: #76949F;
	  color: #fff;
	  padding: 15px 20px;
	}
	.form-content {
	  padding: 20px 30px;
	}
	.form-content input {
	  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	  font-size: 14px;
	  margin-top: 5px;
	}
	.form-content label {
	  font-size: 18px;
	}
 
	.form-content .input-group{
	  float:left;
	  min-width: 345px;
	  margin-bottom: 25px;
	}
	input.btn{
	  font-size:18px;
	}
	fieldset{
	  border:none;
	  margin-bottom: 25px;
	}
	.delete-btn input{
	  float:left;
	  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	  margin-left:10px;
	  background-color: #CC444B;
	  border-color: #CC444B;
	  transition: background-color .5s, border-color .5s;
	}
	.delete-btn input:hover{
	  background-color: #333;
	  border-color: #333;
	}
	textarea {
	  width: 90%;
	  min-height: 80px;
	}
	.clearfix {
	  overflow: auto;
	}
	.card-holder {
	  display: flex;
	  flex-wrap: wrap;
	}
	.event-card{
	  flex-basis: 280px;
	  margin: 0 5px 50px;
	  height: 280px;
	  box-shadow: 0 16px 64px -16px rgba(46,55,77,.1);
	}
	.event-card:hover {
	  box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
	}
 
	#holder {
	  min-height: 30px;
	}
	.error-message {
	  background-color: #CC444B;
	  color: #fff;
	  font-weight:bold;
	  padding: 5px 20px;
	  text-align:center;
	}
 
	.cat-name::after{
	  content: " | "
	}
	.cat-name:last-child::after{
	  content: none;
	}
	.category-list {
	  color: #76949F;
	  font-weight: bold;
	  font-style: italic;
	}
 }
 
 @media screen and (max-width: 600px) {
	.wrapper {
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  width: auto;
	}
 
	.content, .sidebar {
	  float: none;
	  width: 100%;
	}
 
	.sidebar {
	  background: transparent;
	  border: none;
	  border-top: 2px solid #ccc;
	  padding: 0;
	}
 
	h1 {
	  font-size: 24px;
	  line-height: 36px;
	}
 
	h2 {
	  font-size: 18px;
	  line-height: 24px;
	}

	/* button style */
.btn {
	/* button size */
	width: 100px;
	height: 40px;
	/* button border */
	border: 3px solid black;
	/* white background */
	background-color: white;
	/* this combination is for centering the button on the screen */
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	/* removes the button backlight when clicked */
	outline: none;
	/* smooth transitions on hover */
	transition: all .4s ease;
	/* font settings */
	font-family: 'Arial Narrow', sans-serif;
	font-size: 20px;
 }
 
 /* styles for button on hover */
.btn:hover {
	/* type of cursor on hover */
	cursor: pointer;
	box-shadow: 4px 4px midnightblue;
 }
 
 }