body {
	 height: 100%;
	 font-family: 'Open Sans', sans-serif;
	 margin-top: 80px;
	 padding: 40px;
 }

 h1  {
	 font-family: 'Baloo 2', cursive;
 }
 
 header {
	 background-color: white;
	 position: fixed;
	 top: 0;
	 left: 0;
	 right: 0;
	 height: 80px;
	 display: flex;
	 align-items: center;
	 box-shadow: 0 0 25px 0 black;
 }

 header img {
	height: 40px;
	margin-left: 40px;
}

 nav * {
	 display: inline;
 }
 
 nav li {
	 margin: 20px;
 }
 
 nav li a {
	 color: #161f27;
	 text-decoration: none;
	 float: center;
	 padding: 10px 10px;
	 font-family: 'Baloo 2', cursive;
	 font-weight: bold;
	 font-size: 24px;
 }
 
 nav li a:hover {
	background-color: rgb(161, 161, 161);
	color: #161f27;
	text-decoration: none;
 }

 body a:hover {
	background-color: rgb(161, 161, 161);
	color: #161f27;
	text-decoration: none;
 }

 #footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 40px;
	background: #222;
	color: white;
 }

 .copyright {
	float: left;
	padding: 0px 30px;
	margin: 10px;
}

.social { 
	float: right;
	padding: 0px 30px;
	margin: 10px;
}


