body {
	height: 125vh;
	 font-family: 'Open Sans', sans-serif;
	 margin-top: 80px;
	 padding: 40px;
 }
 
 header {
	 background-color: white;
	 position: fixed;
	 top: 0;
	 left: 0;
	 right: 0;
	 height: 80px;
	 display: flex;
	 align-items: center;
	 box-shadow: 0 0 25px 0 black;
 }
 
 header * {
	 display: inline;
 }
 
 header li {
	 margin: 20px;
 }
 
 header li a {
	 color: #161f27;
	 text-decoration: none;
	 float: center;
	 padding: 10px 10px;
	 font-family: 'Baloo 2', cursive;
	 font-weight: bold;
	 font-size: 24px;
 }
 
 header li a:hover {
	 background-color: rgb(161, 161, 161);
	text-decoration: none;
 }