<h2>Create a New Account</h2>
<form method="post" action="/users" id="new_user">
<label>Username:</label>
<input type="text" name="user[username]" placeholder="username">
<label>Password:</label>
<input type="password" name="user[password]" placeholder="password">
<label>Name:</label><br>
<input type="text" name="user[name]"><br>
<label>Profile:</label><br>
<textarea type="text" name="user[profile]"></textarea>
<p>
<input type="checkbox" name="terms_of_service" id="terms_of_service" value="true">
<label for="terms_of_service">I accept the Terms of Service.</label>
</p>
<input type="submit" form="new_user" value="Sign Up">
</form><br>
<% if @failure_message %>
	<div id="failure" style="border: 2px solid red;">
		<h3> Sorry... </h3>
	<% @failure_message.each do |key, value| %>
		<% if key != :terms_of_service %>
			<p><%= "#{key.capitalize} #{value[0]}." %></p>
		<% else %>
			<p><%= "Terms of service must be accepted." %></p>
		<% end %>
	<% end %>	
	</div>
<% end %>
<details>
	<summary>Read terms of service</summary>
	<p>NoteNice is for sharing, and sharing means caring. So please be caring and be sharing... got it? <mark>Good!</mark></p>
</details>
</form>