<h2>Create a New Account</h2>
<form method="post" action="/users" id="new_user">
<label>Username:</label>
<input type="text" name="user[username]" placeholder="username">
<label>Password:</label>
<input type="password" name="user[password]" placeholder="password"><br>
<label>Name:</label><br>
<input type="text" name="user[name]" placeholder="your name" required>
<label>Profile:</label><br>
<textarea type="text" name="user[profile]" placeholder="tell the world a little bit about yourself"></textarea>
<input type="submit" form="new_user" value="Sign Up">
</form><br>
<% if @failure_message %>
	<div id="failure" style="border: 2px solid red;">
		<h3> Sorry... </h3>
	<% @failure_message.each do |key, value| %>
		<p><%= "#{key.capitalize} #{value[0]}." %></p>
	<% end %>	
	</div>
<% end %>