<% if @user %>
	<h1>Welcome <%= @user.username %></h1>
	<h2>Notes: <% @notes.each do |drug| %></h3>
		<ul>
			<li><%= note.topic %></li>
		</ul><% end %>
<% end %><br>
	<h3><a href="/logout">Log Out</a></h4>