	<% if @logged_in %>
	<h1>Welcome back!</h1>
	<h2>Would you like to visit <a href="/users/profile">My Profile</a> or <a href="/notes/new">Write a Note</a>?</h2>
	<% else %>
	<h1>Welcome!</h1>
	<h2>NoteNice is a simple tool to share notes with friends.</h2>
	<p>Whether you're taking a challenging class or learning a difficult topic, taking and reviewing notes is an essential skill.
		On NoteNice, you can view any topic and submit your own notes for that topic.
		Afraid you missed something in class? Worried you skipped over an important part of the reading?
		No problem! With NoteNice, you can check out your friends' notes to make sure you didn't miss anything.
		</p>
		<p>NoteNice is also a great way to tackle a topic you may not feel like you fully understand.
			Ever had someone explain the same thing the same way only to feel like you still don't get it?
			Now you can see how your friends translated the topic into a way that made sense to them, and maybe it'll
			help it make sense to you, too!
		</p>
		<p>
			In life, everything is more fun together---even taking notes! 
		</p>
	<br>
	<fieldset>
	<legend>Log In</legend>
	<form method="post" action="/login">
	<label for="username">Username</label>
	<input type="text" name="username" placeholder="username">
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="password">
	<input type="submit">
	</form>
	</fieldset>
	<% if @failure_message != nil %>
	<div id="failure_message" style="border: 2px solid red;">
		<h3> Invalid log-in. Please try again. </h3>
	<% end %>
	<br>
	<h3><a href="/users/new">Sign Up Now</a></h3>
	<% end %>