	<% if @logged_in %>
	<h1>Welcome back!</h1>
	<h2>Would you like to visit <a href="/users/profile">My Profile</a> or <a href="/notes/new">Write a Note</a>?</h2>
	<% else %>
	<h1>Welcome to Note.all.</h1>
	<h2>Keep track of all of your studies! </h2>
	<br>
	<fieldset>
	<legend>Log In</legend>
	<form method="post" action="/login">
	<label for="username">Username</label>
	<input type="text" name="username" placeholder="username">
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="password">
	<input type="submit">
	</form>
	</fieldset>
	<% if @failure_message != nil %>
	<div id="failure_message" style="border: 2px solid red;">
		<h3> Invalid log-in. Please try again. </h3>
	<% end %>
	<br>
	<h3><a href="/users/new">Sign Up Now</a></h3>
	<% end %>