<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SideExpect</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
	<body>
		<header>
		<div class="branding"><a href="/"></a><h1>SideExpect</h1></a></div>
		  <nav class="menu-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/drugs">All Drugs</a></li>
				<li><a href="/side-effects">All Side Effects</a></li> 
				<%= profile_link %>
			</ul>
		  </nav>
		</header>
    <div class="wrapper">

        <%= yield %>

	 </div>
      <footer class="footer">
        <small>&copy; 2020 <strong>SideExpect</strong></small>
      </footer>
    </div>

  </body>
</html>
